@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

@font-face {
	font-family: Doctor-Glitch;
	font-face-name: Doctor-Glitch;
	src: local("/assets/fonts/doctor_glitch.otf");
	font-display: auto;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-header {
	font-family: 'Permanent Marker', cursive;
	@apply font-bold text-2xl;
	color: #979C94;
}

.permanentMarker {
	font-family: 'Permanent Marker', cursive;
}

.job-text {
	@apply text-left;
	text-shadow: 2px 2px #D81B60;
}

.resume-heading {
	@apply text-center border-b-2 w-1/4 mx-auto
}
.rounded-outline{
	border-color: #c3073f;
	border-style: solid;
	border-width: 2px;
}
.project-description{
	color: #4e4e50;
	@apply text-center
}