@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-header {
	font-family: 'Universal Ignorance', sans-serif;
	@apply font-bold text-2xl text-white;
}

.job-text {
	@apply text-left;
}

.resume-heading {
	@apply text-center border-b-2 w-1/4 mx-auto
}

.universal-ignorance{
	font-family: "Universal Ignorance", sans-serif;
}
.paradox{
	font-family: "Paradox",sans-serif ;
}
.nav-link{
	@apply universal-ignorance text-white
}
.zoom{
	transition: transform .2s;
}

.hover-score{
	transition: .1s;
}
.hover-score:hover{
	@apply border-b-2
}